.sml-left-align, .sml-left-align-hover:hover {
	text-align: left;
}

.sml-right-align, .sml-right-align-hover:hover {
	text-align: right;
}

.sml-center-align, .sml-center-align-hover:hover {
	text-align: center;
}
